body {
  font-family: "Heebo", cursive;
}

header,
footer {
  padding-left: 10%;
  background-color: rgb(0, 84, 159);
}

header {
  font-size: 30px;
  padding-left: 10%;
  color: blue;
  font-weight: bold;
}

main {
  display: grid;
  margin-left: 5%;
  margin-right: 5%;
  grid-template-columns: 75% 25%;
}

article {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  margin-right: 3%;
}

section, aside {
  border-radius: 5px;
  background-color: lightgray;
  padding: 5%;
  margin: 5px;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

nav a {
  background-color: grey;
  padding: 10px;
  color: white;
  margin: 0;
  text-decoration: none;
}

nav a:hover {
  background-color: blue;
  color: white;
}

table {
  text-align: left;
}

td {
  padding-right: 15px;
  text-align: left;
}

.card {
  display: inline-block;

  border-radius: 5px;
  background-color: white;
  padding: 5%;
  margin: 5px;
}

.form {
  position: relative;
  text-align: center;
}

.form input {
  margin: 15px;
  padding: 30px;
  box-sizing: border-box;
}

.form button {
  cursor: pointer;
  background: #ff33cc;
  padding: 0 0 30px 90px;
}

.pin {
  color: blue;
}
